<div class="d-flex flex-column p-3 mb-4">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="row border-bottom pb-4">
            <div class="col-12 col-md-5">
                <div class="form-group pt-3">
                    <label class="fw-bold" for="description">Descrição</label>
                    <textarea [backgroundColorClass]="'#e4e4e4'" id="description" formControlName="description"
                        type="text" class="form-control border-dark-subtle rounded-3 form-focus"
                        placeholder="Escreva a descrição da solicitação" required></textarea>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group pt-3">
                    <label class="fw-bold" for="signLocation">Local da Placa</label>
                    <textarea [backgroundColorClass]="'#e4e4e4'" id="signLocation" formControlName="signLocation"
                        type="text" class="form-control border-dark-subtle rounded-3 form-focus"
                        placeholder="Escreva a localização da placa" required></textarea>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="form-group pt-3" formArrayName="dimensions">
                    <label class="fw-bold">Medida</label>
                    <div class="d-flex align-items-center mb-2">
                        <div class="">
                            <label>
                                Largura
                            </label>
                            <input [backgroundColorClass]="'#e4e4e4'" type="text"
                                class="border border-dark-subtle rounded-3 me-2 w-100" placeholder="cm" />
                        </div>
                        <div class="pt-4">
                            <span class="mx-3">X</span>
                        </div>
                        <div>
                            <label>
                                Altura
                            </label>
                            <input [backgroundColorClass]="'#e4e4e4'" type="text"
                                class="border border-dark-subtle rounded-3 me-2 w-100" placeholder="cm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="title">
                <p class="fw-bold">Empresas</p>
            </div>
            <div class="row">
                <div class="d-flex flex-wrap">
                    <label class="me-3">Compartilhado com outras empresas: </label>
                    <div class="form-check me-5">
                        <input [borderColorClass]="'#027373'" class="form-check-input" type="radio" id="singleCompany"
                            formControlName="singleCompany" (change)="onCompanyChange('multiple')" value="true">
                        <label class="form-check-label" for="singleCompany">
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input [borderColorClass]="'#027373'" class="form-check-input" type="radio"
                            id="multipleCompanies" formControlName="singleCompany" (change)="onCompanyChange('single')"
                            value="false">
                        <label class="form-check-label" for="multipleCompanies">
                            Não
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isSingleCompany" class="row mt-5 border-bottom pb-4">
            <div class="title">
                <p class="fw-bold">Selecione a Empresa</p>
            </div>
            <div class="d-flex flex-wrap">
                <div class="form-check me-5">
                    <input [borderColorClass]="'#027373'" class="form-check-input" type="radio" id="rota"
                        formControlName="selectedCompany" value="Rota" (change)="updateCompanyName('Rota Transportes')">
                    <label class="form-check-label" for="rota">Rota Transportes</label>
                </div>
                <div class="form-check me-5 ms-5">
                    <input [borderColorClass]="'#027373'" class="form-check-input" type="radio" id="cidadeSol"
                        formControlName="selectedCompany" value="Cidade Sol" (change)="updateCompanyName('Cidade Sol')">
                    <label class="form-check-label" for="cidadeSol">Cidade Sol</label>
                </div>
                <div class="form-check me-5 ms-5">
                    <input [borderColorClass]="'#027373'" class="form-check-input" type="radio" id="brasileiro"
                        formControlName="selectedCompany" value="Brasileiro" (change)="updateCompanyName('Brasileiro')">
                    <label class="form-check-label" for="brasileiro">Brasileiro</label>
                </div>
                <div class="d-flex form-check me-5 ms-5 d-flex">
                    <div>
                        <input [borderColorClass]="'#027373'" class="form-check-input" type="radio" id="other"
                            formControlName="selectedCompany" value="Outro" (change)="onOtherCompany()">
                        <label class="form-check-label ms-2" for="other">Outra(s)</label>
                        <input *ngIf="registerForm.get('selectedCompany')?.value === 'Outro'" type="text"
                            class="border border-dark-subtle rounded-3 ms-2 me-2" placeholder="Especificar empresa"
                            formControlName="otherText" (change)="updateOtherCompany()">
                    </div>
                    <div>

                        <button [backgroundColorClass]="'#027373'"
                            *ngIf="registerForm.get('selectedCompany')?.value === 'Outro'" type="button"
                            class="btn text-white" (click)="confirmCompany()">OK</button>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="selectedCompany" class="row mt-5 border-bottom pb-4">
            <div>
                <p class="fw-bold">Itinerário</p>
            </div>
            <div>
                <div>
                    <p>{{ selectedCompany.name }}</p>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <div>

                            <label class="fw-bold me-3" for="mainRoute">Principais:</label>
                        </div>
                        <div *ngFor="let route of addedMainRoutes" class="me-2">
                            <span [backgroundColorClass]="'#e4e4e4'" b class="me-2 p-2 border boder-dark-sublte rounded-3">{{ route }}</span>
                        </div>
                        <div class="d-flex ms-2">
                            <select [backgroundColorClass]="'#e4e4e4'" id="mainRoute"
                            class="form-select border-dark-subtle rounded-3 form-focus me-2"
                            formControlName="mainRoute">
                            <option *ngFor="let route of mainRoutes" [value]="route">{{ route }}</option>
                        </select>
                        <button [backgroundColorClass]="'#027373'" type="button" class="btn text-white"
                        (click)="addMainRoute()">+</button>
                    </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <div>
                            <label class="fw-bold me-3" for="connections">Conexões:</label>
                        </div>
                        <div *ngFor="let connection of addedConnections" class="me-2">
                            <span [backgroundColorClass]="'#e4e4e4'" class="me-2 p-2 border boder-dark-sublte rounded-3">{{ connection }}</span>
                        </div>
                        <div class="d-flex ms-2">
                            <select [backgroundColorClass]="'#e4e4e4'" id="connections"
                            class="form-select border-dark-subtle rounded-3 form-focus me-2"
                            formControlName="connections">
                            <option *ngFor="let connection of connections" [value]="connection">{{ connection }}
                            </option>
                        </select>
                    </div>
                        <button [backgroundColorClass]="'#027373'" type="button" class="btn text-white"
                            (click)="addConnection()">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedCompany" class="form-group pt-3 w-50">
            <label class="fw-bold" for="description">Observações</label>
            <textarea [backgroundColorClass]="'#e4e4e4'" id="description" formControlName="observation"
                type="text" class="form-control border-dark-subtle rounded-3 form-focus"
                placeholder="Escreva aqui" required></textarea>
        </div>


        <div class="row mt-5">
            <button [backgroundColorClass]="'#027373'" type="submit" class="btn w-100 text-white">Enviar</button>
        </div>
    </form>
</div>