<div class="d-flex flex-column p-3 mb-4">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="form-group pt-3">
                    <label class="fw-bold" for="description">Descrição</label>
                    <textarea id="description" formControlName="description" type="text"
                        class="form-control border-dark-subtle rounded-3 form-focus"
                        placeholder="Escreva a descrição da solicitação" required></textarea>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group pt-3">
                    <label class="fw-bold" for="signLocation">Local da Placa</label>
                    <textarea id="signLocation" formControlName="signLocation" type="text"
                        class="form-control border-dark-subtle rounded-3 form-focus"
                        placeholder="Escreva a localização da placa" required></textarea>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="form-group pt-3" formArrayName="dimensions">
                    <label class="fw-bold">Dimensões</label>
                    <div *ngFor="let dimension of dimensions.controls; let i = index"
                        class="d-flex align-items-center mb-2">
                        <div class="">
                            <label>
                                Largura
                            </label>
                            <input id="height-{{i}}" [formControlName]="i" type="text"
                                class="border border-dark-subtle rounded-3 me-2 w-100" placeholder="cm" />
                        </div>
                        <div class="pt-4">
                            <span class="mx-3">X</span>
                        </div>
                        <div>
                            <label>
                                Altura
                            </label>
                            <input id="width-{{i}}" [formControlName]="i" type="text"
                                class="border border-dark-subtle rounded-3 me-2 w-100" placeholder="cm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="title">
                <p class="fw-bold">Empresas</p>
            </div>
            <div class="row">
                <div class="d-flex flex-wrap">
                    <div class="form-check me-5">
                        <input class="form-check-input" type="checkbox" id="rota" formControlName="rota">
                        <label class="form-check-label fw-bold" for="rota">
                            Rota
                        </label>
                    </div>
                    <div class="form-check me-5 ms-5">
                        <input class="form-check-input" type="checkbox" id="cidadeSol" formControlName="cidadeSol">
                        <label class="form-check-label fw-bold" for="cidadeSol">
                            Cidade Sol
                        </label>
                    </div>
                    <div class="form-check me-5 ms-5">
                        <input class="form-check-input" type="checkbox" id="brasileiro" formControlName="brasileiro">
                        <label class="form-check-label fw-bold" for="brasileiro">
                            Brasileiro
                        </label>
                    </div>
                    <div class="form-check me-5 ms-5 d-flex">
                        <input class="form-check-input" type="checkbox" id="other" formControlName="other">
                        <label class="form-check-label fw-bold ms-2" for="other">
                            Outra(as)
                        </label>
                        <input type="text" class="border border-dark-subtle rounded-3 ms-2" placeholder="Especificar" formControlName="otherText">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
