.height-div {
    height: 5px;
}

.card-custom {
    max-width: 17em;
    min-width: 17em;
    height: 72vh;
    background-color: #F3F3F3;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.cards-div {
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 78vw;
}

.overflow-custom {
    overflow-x: auto;
}

.card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.progress {
    height: 2em;
}

.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar span {
    position: absolute;
    width: 100%;
    font-weight: bold;
}

.requests-custom {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.requests-custom:hover {
    background-color: rgb(239, 239, 239);
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #027373;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #03A696;
}

@media (max-width: 768px) {
    .filter-custom {
        flex-direction: column;
    }

    .cards-div {
        height: 88vh;
        width: 85vw;
    }

    .card-custom {
        max-width: 20em;
        min-width: 20em;
    }

}