<div class="container-fluid">
    <div class="cards-div">
        <div class="p-1 mx-auto">
            <div class="card-wrapper gap-2">
                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#D9534F'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title">A Fazer</p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of toDoCards"
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <div class="d-flex justify-content-start"
                                    *ngIf="item.collaborator; else noCollaborator">
                                    <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                            [alt]="item.client.fullName + ' ' + 'avatar'" />
                                        <span>{{ item.client.fullName }}</span>
                                    </p>
                                </div>
                                <ng-template #noCollaborator>
                                    <p [backgroundColorClass]="'#ff7474'" class="request-title">Colaborador não alocado</p>
                                </ng-template>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#A267D0'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title">Em Andamento</p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of inProgressCards "
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <p [backgroundColorClass]="'#ff7474'" class="request-title">
                                    {{item.collaborator?.fullName}}</p>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>
                            <div class="d-flex justify-content-start" *ngIf="item.collaborator; else noCollaborator">
                                <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                        [alt]="item.client.fullName + ' ' + 'avatar'" />
                                    <span>{{ item.client.fullName }}</span>
                                </p>
                            </div>
                            <ng-template #noCollaborator>
                                <p class="text-muted">Colaborador: Não alocado</p>
                            </ng-template>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#305BF2'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title">Aguardando Aprovação</p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of awaitingApprovalCards "
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <p [backgroundColorClass]="'#ff7474'" class="request-title">
                                    {{item.collaborator?.fullName}}</p>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>
                            <div class="d-flex justify-content-start" *ngIf="item.collaborator; else noCollaborator">
                                <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                        [alt]="item.client.fullName + ' ' + 'avatar'" />
                                    <span>{{ item.client.fullName }}</span>
                                </p>
                            </div>
                            <ng-template #noCollaborator>
                                <p class="text-muted">Colaborador: Não alocado</p>
                            </ng-template>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#FAFE3A'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title">Aprovado</p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of approvedCards "
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <p [backgroundColorClass]="'#ff7474'" class="request-title">
                                    {{item.collaborator?.fullName}}</p>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>
                            <div class="d-flex justify-content-start" *ngIf="item.collaborator; else noCollaborator">
                                <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                        [alt]="item.client.fullName + ' ' + 'avatar'" />
                                    <span>{{ item.client.fullName }}</span>
                                </p>
                            </div>
                            <ng-template #noCollaborator>
                                <p class="text-muted">Colaborador: Não alocado</p>
                            </ng-template>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#FF822E'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title">Em Confecção</p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of inProductionCards "
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <p [backgroundColorClass]="'#ff7474'" class="request-title">
                                    {{item.collaborator?.fullName}}</p>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>
                            <div class="d-flex justify-content-start" *ngIf="item.collaborator; else noCollaborator">
                                <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                        [alt]="item.client.fullName + ' ' + 'avatar'" />
                                    <span>{{ item.client.fullName }}</span>
                                </p>
                            </div>
                            <ng-template #noCollaborator>
                                <p class="text-muted">Colaborador: Não alocado</p>
                            </ng-template>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#70D067'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title">Concluído</p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of completedCards "
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <p [backgroundColorClass]="'#ff7474'" class="request-title">
                                    {{item.collaborator?.fullName}}</p>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>
                            <div class="d-flex justify-content-start" *ngIf="item.collaborator; else noCollaborator">
                                <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                        [alt]="item.client.fullName + ' ' + 'avatar'" />
                                    <span>{{ item.client.fullName }}</span>
                                </p>
                            </div>
                            <ng-template #noCollaborator>
                                <p class="text-muted">Colaborador: Não alocado</p>
                            </ng-template>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-custom rounded-0">
                    <div [backgroundColorClass]="'#999999'" class="height-div"></div>
                    <div class="container text-center py-3">
                        <p class="card-title"> StandBy </p>
                        <hr>
                    </div>
                    <div class="card-body overflow-auto scrollbar-ff">
                        <div *ngFor="let item of standByCards"
                            class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                            <div>
                                <p class="request-title me-2">{{ item.title }}</p>
                                <p [backgroundColorClass]="'#ff7474'" class="request-title">
                                    {{item.collaborator?.fullName}}</p>
                            </div>
                            <div class="request-subtitle">
                                <p (click)="toggleTruncate(item)" class="text-muted" [ngClass]="{'text-truncate': item.isTruncated}">
                                    Placa de Sinalização para indicação cidades e suas distâncias relativas.
                                  </p>
                            </div>
                            <div class="d-flex justify-content-start" *ngIf="item.collaborator; else noCollaborator">
                                <p class="text-muted request-subtitle"><img class="me-1 perfil-img" src="/assets/images/profile.png"
                                        [alt]="item.client.fullName + ' ' + 'avatar'" />
                                    <span>{{ item.client.fullName }}</span>
                                </p>
                            </div>
                            <ng-template #noCollaborator>
                                <p class="text-muted">Colaborador: Não alocado</p>
                            </ng-template>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted request-subtitle"> {{
                                    deadline | date: 'dd/MM/yyyy' }}</p>
                                <i class="request-subtitle" [colorClass]="'#005d54'"
                                    (click)="goToDetails(item.id.toString())">Veja mais</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>