<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card text-black shadow-custom card-scroll scroll-bar">
                <div class="card-body p-4">
                    <div class="row">
                        <div
                            class="d-flex flex-column text-center align-items-center justify-content-center pt-1 mb-4 border-bottom">
                            <h3>Placa de Agências e Encomendas</h3>
                            <h4>(Título da Solicitação)</h4>
                            <p>Descrição da Solicitação</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 order-2 order-md-1 border-end p-3">
                            <h4>Informações da Placa</h4>
                            <div>
                                <div class="py-2">
                                    <p class="text-body-tertiary mb-0">Local da Placa</p>
                                    <p class="text-body">{{ signLocation }}</p>
                                </div>
                                <div class="d-flex gap-2" *ngFor="let dimension of dimensions">
                                    <p>Altura: {{ dimension.height }}m</p>
                                    <p>x</p>
                                    <p>Comprimento: {{ dimension.length }}m</p>
                                </div>

                                <div class="py-2" *ngIf="signType.length > 0">
                                    <p class="text-body-tertiary  mb-0">Tipo de Placa</p>
                                    <p class="text-body  mb-0">{{ signType }}</p>
                                </div>
                                <div class="py-2" *ngIf="material.length > 0">
                                    <p class="text-body-tertiary  mb-0">Material</p>
                                    <p class="text-body  mb-0">{{ material }}</p>
                                </div>
                                <div class="py-2" *ngIf="signImages.length > 0">
                                    <p class="text-body-tertiary  mb-0">Imagens da Placa</p>
                                    <div class="mb-2" *ngFor="let image of signImages; let i = index">
                                        <p class="text-body mb-0">{{ image.description }}</p>
                                        <a [href]="image.path" target="_blank" class="my-1">
                                            {{ image.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-12 order-3 order-md-2 border-end p-3">
                            <h4>Empresas e Itinerários</h4>
                            <div>
                                <div class="py-2">
                                    <p class="text-body-tertiary  mb-0">Compartilhado com Alguma Empresa</p>
                                    <ng-container *ngIf="sharedWithCompany; else falseBlock">
                                        <p class="text-body  mb-0
                                        ">Sim</p>
                                    </ng-container>
                                    <ng-template #falseBlock>
                                        <p class="text-body  mb-0
                                        ">Não</p>
                                    </ng-template>
                                </div>
                                <div class="py-2">
                                    <p class="text-body-tertiary  mb-0">Empresas Compartilhadas</p>
                                    <p class="text-body  mb-0
                                    ">{{ sharedCompanies }}</p>
                                </div>
                                <div class="py-2">
                                    <p class="text-body-tertiary  mb-0">Rota Transportes</p>
                                    <p class="text-body  mb-2
                                    "><i>Principais: </i>{{ rotaTransportesMainRoutes }}
                                    <p class="text-body  mb-2
                                    "><i>Conexões: </i>{{ rotaTransportesConnections }}</p>
                                </div>
                                <div class="py-2">
                                    <p class="text-body-tertiary  mb-0">Cidade Sol</p>
                                    <p class="text-body  mb-2
                                    "><i>Principais: </i>{{ cidadeSolMainRoutes }}</p>
                                    <p class="text-body  mb-2
                                    "><i>Conexões: </i>{{ cidadeSolConnections }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 order-1 order-md-3 p-3">
                            <div
                                class="border border-dark-subtle shadow rounded-4 w-100 p-4 d-flex flex-column justify-content-center align-items-center">
                                <div class=" w-100 border border-secondary-subtle shadow rounded-4 p-4 text-center">
                                    <h5>Colaborador</h5>
                                    <div>
                                        <p class="text-body-tertiary">{{ collaboratorName ? collaboratorName : 'Não
                                            atribuído' }}</p>
                                    </div>
                                    <button *ngIf="userRole == 0" class="btn btn-success mt-3"
                                        (click)="selectCollaborator()">
                                        {{ collaboratorName ? 'Alterar' : 'Selecionar' }}
                                    </button>
                                </div>
                                <div class="text-center mt-4">
                                    <circle-progress [percent]="percentage" [radius]="100" [outerStrokeWidth]="10"
                                        [innerStrokeWidth]="8" [outerStrokeColor]="'#03A696'"
                                        [innerStrokeColor]="'#03a69629'" [animation]="true" [animationDuration]="600"
                                        [responsive]="true" [subtitle]="subtitle"
                                        [titleFontSize]="'30'"></circle-progress>
                                </div>
                                <div *ngIf="userRole == 1 || userRole == 0" class="d-flex flex gap-3 py-3">
                                    <button *ngIf="percentage == 100" class="btn btn-success mt-3"> Finalizar
                                    </button>
                                </div>

                                <div *ngIf="userRole == 2" class="d-flex flex-column gap-3 py-3">
                                    <button *ngIf="percentage == 100" class="btn btn-success mt-3 mx-auto">Aprovar
                                    </button>
                                    <button class="btn btn-warning mt-3 mx-auto"> Solicitar Revisão
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>