@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Inter, sans-serif !important;
}

.validation-warning p {
  padding: 0;
  margin: 0;
  color: red;
  font-size: 11px;
  font-family: "Inter";
}
