<div class="container-fluid">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-12">
            <div class="card text-black shadow-custom">
                <div class="card-body">
                    <!-- <div class="row pb-3 border-bottom mx-auto">
                        <div class="col-6 text-center">
                            <button class="btn w-100 text-white"
                                [ngClass]="{'active bg-color-menu': isFormVisible, 'text-muted': !isFormVisible}"
                                (click)="showForm()">Cadastrar Colaborador</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn w-100 text-white"
                                [ngClass]="{'active bg-color-menu': !isFormVisible, 'text-muted': isFormVisible}"
                                (click)="showList()">Verificar Colaboradores</button>
                        </div>
                    </div> -->
                    <div class="d-flex col-12">
                        <div class="col-md-4 border-end">
                            <div class="me-3">
                                <app-register-collaborator></app-register-collaborator>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <app-list-collaborators></app-list-collaborators>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>