.height-div{
    height: 5px;
}

.bg-1 {
    background-color: #03A696;
}

.card-custom {
    min-height: 33.5em;
    max-width: 16.5em;
    min-width: 16.5em;
    background-color: #F3F3F3;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-body{
    max-height: 28em;
}

.overflow-custom {
    overflow-x: auto;
}

.scroll-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px;
    white-space: nowrap;
}

.card-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    flex: 0 0 auto;
    width: 300px;
    box-sizing: border-box;
}

.progress{
    height:2em;
}

.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar span {
    position: absolute;
    width: 100%;
    font-weight: bold;
}

.requests-custom{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.requests-custom:hover{
    background-color: rgb(239, 239, 239);
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb, .scroll-container-requests::-webkit-scrollbar-thumb {
    background: #027373;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #03A696;
}

