<div class="container-fluid">
    <div class="row mb-3 filter-custom">
        <div class="col-md-4 mb-2 mb-md-0">
            <div class="d-flex align-items-center">
                <label for="statusFilter" class="form-label me-2">Status</label>
                <select id="statusFilter" class="form-select">
                    <option value="">Todos</option>
                    <option value="analise">Em Análise</option>
                    <option value="aberto">Em Aberto</option>
                    <option value="aprovado">Aprovado</option>
                    <option value="concluido">Concluído</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 mb-2 mb-md-0">
            <div class="d-flex align-items-center">
                <label for="responsavelFilter" class="form-label me-2">Responsável</label>
                <select id="responsavelFilter" class="form-select">
                    <option value="">Todos</option>
                    <option value="responsavel1">Responsável 1</option>
                    <option value="responsavel2">Responsável 2</option>
                    <option value="responsavel3">Responsável 3</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <label for="dataFilter" class="form-label me-2">Data</label>
                <input type="date" id="dataFilter" class="form-control">
            </div>
        </div>
    </div>

    <div class="scroll-container-categories p-1">
        <div class="card-wrapper gap-2">
            <div class="card card-custom rounded-0">
                <div class="bg-1 height-div"></div>
                <div class="container text-center py-3">
                    <h5 class="card-title">Em Análise</h5>
                    <hr>
                </div>
                <div class="card-body overflow-auto scroll-container-requests">
                    <div *ngFor="let item of emAnaliseCards"
                        class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                        <p class="fw-bold text-truncate">{{ item.title }}</p>
                        <p class="text-truncate">{{ item.description }}</p>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-1" role="progressbar"
                                [style.width.%]="item.progress" [attr.aria-valuenow]="item.progress" aria-valuemin="0"
                                aria-valuemax="100">
                                <span class="position-absolute w-100 text-center text-white">{{ item.progress }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card card-custom rounded-0">
                <div class="bg-2 height-div"></div>
                <div class="container text-center py-3">
                    <h5 class="card-title">Em Aberto</h5>
                    <hr>
                </div>
                <div class="card-body overflow-auto scroll-container-requests">
                    <div *ngFor="let item of emAbertoCards"
                        class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                        <p class="fw-bold text-truncate">{{ item.title }}</p>
                        <p class="text-truncate">{{ item.description }}</p>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-2" role="progressbar"
                                [style.width.%]="item.progress" [attr.aria-valuenow]="item.progress" aria-valuemin="0"
                                aria-valuemax="100">
                                <span class="position-absolute w-100 text-center text-white">{{ item.progress }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom rounded-0">
                <div class="bg-3 height-div"></div>
                <div class="container text-center py-3">
                    <h5 class="card-title">Aprovado</h5>
                    <hr>
                </div>
                <div class="card-body overflow-auto scroll-container-requests">
                    <div *ngFor="let item of aprovadoCards"
                        class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                        <p class="fw-bold text-truncate">{{ item.title }}</p>
                        <p class="text-truncate">{{ item.description }}</p>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-3" role="progressbar"
                                [style.width.%]="item.progress" [attr.aria-valuenow]="item.progress" aria-valuemin="0"
                                aria-valuemax="100">
                                <span class="position-absolute w-100 text-center text-black">{{ item.progress }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom rounded-0">
                <div class="bg-4 height-div"></div>
                <div class="container text-center py-3">
                    <h5 class="card-title">Concluído</h5>
                    <hr>
                </div>
                <div class="card-body overflow-auto scroll-container-requests">
                    <div *ngFor="let item of concluidoCards"
                        class="p-2 mb-2 border border-secondary-subtle rounded-3 requests-custom">
                        <p class="fw-bold text-truncate">{{ item.title }}</p>
                        <p class="text-truncate">{{ item.description }}</p>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-4" role="progressbar"
                                [style.width.%]="item.progress" [attr.aria-valuenow]="item.progress" aria-valuemin="0"
                                aria-valuemax="100">
                                <span class="position-absolute w-100 text-center text-black">{{ item.progress }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>