.bg-color-system {
    background-color: #027373;
}

.bg-color-menu{
    background-color: #03A696;
}

.form-focus:focus {
    border: none;
    outline: none;
}

.bg-hover:hover {
    background-color: #03A696;
}

.shadow-custom {
    box-shadow: 3px 4.5px 4px rgba(0, 0, 0, 0.3);
}

.text-custom {
    color: #027373 !important;
    font-weight: 600;
}

.text-custom:hover {
    text-decoration: underline !important;
}

.card {
    height: 85vh; 
    overflow-y: auto; 
    overflow-x: hidden; 
    width: 78vw; 
}

.scroll-bar::-webkit-scrollbar {
    width: 12px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #03A696;
    border-radius: 10px;
}

.overflow-custom{
    height: 75vh; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: #026d56;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #029982;
}

/* Firefox */
.scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #03A696 #f1f1f1;
}

.custom-checkbox, .custom-radio {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.custom-checkbox input[type="checkbox"], 
.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox label, 
.custom-radio label {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    background-color: #02998228; 
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + label,
.custom-radio input[type="radio"]:checked + label {
    background-color: #029982;
}


.custom-checkbox input[type="checkbox"]:checked + label::before,
.custom-radio input[type="radio"]:checked + label::before {
    content: "✔"; 
    font-size: 16px;
    margin-right: 8px;
    color: #fff;
}