<div class="container-fluid">
    <div class="row">
        <div class="card text-black shadow-custom scroll-bar">
            <div class="card-body p-4">
                <div class="row">
                    <div class="d-flex flex-column align-items-center justify-content-center pt-1 mb-4 border-bottom">
                        <h3>Cadastro de Placa de Agências e Encomendas</h3>
                        <form [formGroup]="registerForm" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="pt-3">
                                    <input id="signLocation" formControlName="signLocation" type="text"
                                        class="form-focus border-0 border-bottom border-dark-subtle"
                                        placeholder="Local da Placa" required />
                                </div>

                                <div class="pt-3" formArrayName="dimensions">
                                    <div *ngFor="let dimension of dimensions.controls; let i=index"
                                        class="input-group mb-2">
                                        <input [formControlName]="i" type="text"
                                            class="form-focus border-0 border-bottom border-dark-subtle"
                                            placeholder="Medida" />
                                        <button type="button" class="btn btn-danger"
                                            (click)="removeDimension(i)">-</button>
                                    </div>
                                    <button type="button" class="btn bg-color-system bg-hover text-white"
                                        (click)="addDimension()">Adicionar
                                        Medida</button>
                                </div>

                                <div class="pt-3">
                                    <label>Tipo de Placa</label>
                                    <div class="form-check custom-radio py-2">
                                        <input type="radio" id="backLight" formControlName="signType" value="Back light"
                                            class="form-check-input" />
                                        <label for="backLight" class="form-check-label">Back light (com luz)</label>
                                    </div>
                                    <div class="form-check custom-radio py-2">
                                        <input type="radio" id="frontLight" formControlName="signType"
                                            value="Front light" class="form-check-input" />
                                        <label for="frontLight" class="form-check-label">Front light (sem luz)</label>
                                    </div>
                                </div>

                                <div class="pt-3">
                                    <label>Material</label>
                                    <div class="form-check custom-radio py-2">
                                        <input type="radio" id="letreiro" formControlName="materials" value="Letreiro"
                                            class="form-check-input" />
                                        <label for="letreiro" class="form-check-label">Letreiro (lona adesivada)</label>
                                    </div>
                                    <div class="form-check custom-radio py-2">
                                        <input type="radio" id="impressaoDigital" formControlName="materials"
                                            value="Impressão Digital" class="form-check-input" />
                                        <label for="impressaoDigital" class="form-check-label">Impressão Digital (Lona
                                            Totalmente Impressa)</label>
                                    </div>
                                </div>

                                <div class="pt-3">
                                    <label>Compartilhado com Alguma Empresa?</label>
                                    <div class="form-check custom-radio py-2">
                                        <input type="radio" id="sharedYes" formControlName="sharedWithCompany"
                                            value="yes" class="form-check-input" />
                                        <label for="sharedYes" class="form-check-label">Sim</label>
                                    </div>
                                    <div class="form-check custom-radio py-2">
                                        <input type="radio" id="sharedNo" formControlName="sharedWithCompany" value="no"
                                            class="form-check-input" />
                                        <label for="sharedNo" class="form-check-label">Não</label>
                                    </div>

                                    <div *ngIf="registerForm.get('sharedWithCompany')?.value === 'yes'">
                                        <div class="pt-3">
                                            <label>Empresas Compartilhadas</label>
                                            <div formArrayName="sharedCompanies">
                                                <div *ngFor="let company of sharedCompanies.controls; let i=index"
                                                    class="input-group mb-2">
                                                    <input [formControlName]="i" type="text"
                                                        class="form-control border-0 border-bottom border-dark-subtle"
                                                        placeholder="Nome da Empresa" />
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="removeCompany(i)">-</button>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary"
                                                (click)="addCompany()">Adicionar Empresa</button>
                                        </div>
                                    </div>

                                    <div *ngIf="registerForm.get('sharedWithCompany')?.value === 'no'">
                                        <label>Empresa Compartilhada</label>
                                        <div class="custom-radio py-2" *ngFor="let company of availableCompanies">
                                            <input type="radio" [id]="company" formControlName="nonSharedCompany"
                                                [value]="company" />
                                            <label [for]="company">{{ company }}</label>
                                        </div>

                                        <div *ngIf="registerForm.get('nonSharedCompany')?.value === 'Outra'">
                                            <input formControlName="otherCompany" type="text"
                                                class="form-control border-0 border-bottom border-dark-subtle"
                                                placeholder="Nome da Empresa" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center pt-5">
                                <button type="submit" class="btn bg-color-system bg-hover text-white"
                                    [disabled]="registerForm.invalid">Enviar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>