<div *ngIf="data">
  <div class="container mt-2">
    <div class="d-flex align-items-center justify-content-between pb-4 border-bottom">
      <div>
        <p class="h5 text-center mb-1 fw-bold text-exo"> {{ data.briefing.briefingType.description }} </p>
        <p class="text-center mb-1 fw-bold text-exo"> {{ data.bAgencyBoard.agencyBoardType.description }} </p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <p class="fw-bold mb-1 text-exo">Data Prevista de Entrega</p>
        <span class="text-exo mb-0 px-3 py-2 fst-italic bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
          data.briefing.expectedTime | date : 'dd/MM/yyyy'}} </span>
      </div>
    </div>
    <div class="pe-5 mt-4 border-bottom">
      <app-version [versions]="data.briefing.versions" [idBriefing]="data.briefing.id"></app-version>
    </div>
    <p class="text-exo fw-bold mt-3">Informações da Placa</p>
    <div class="mt-4">
      <p class="text-exo fw-bold">Local da Placa</p>
      <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
        data.bAgencyBoard.boardLocation
        }} </p>
    </div>
    <div class="mt-4">
      <p class="text-exo fw-bold">Descrição Detalhada</p>
      <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
        data.briefing.detailedDescription }}</p>
    </div>
    <div class="mt-4">
      <p class="text-exo fw-bold">Medidas</p>
      <div class="d-flex">
        <div>
          <p class="small-text text-exo mb-0 fst-italic">Largura</p>
          <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
            data.briefing.measurements?.length }} cm</p>
        </div>
        <div class="d-flex align-items-end mx-3">
          <p class="small-text text-exo fw-bold">X</p>
        </div>
        <div>
          <div>
            <p class="small-text text-exo mb-0 fst-italic">Altura</p>
            <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
              data.briefing.measurements?.height }} cm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p class="text-exo fw-bold">Empresas</p>
      <div class="d-flex gap-3" *ngIf="data.briefing.companies?.companies?.length">
        <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"
          *ngFor="let company of data.briefing.companies?.companies"> {{ company.name }} </p>
        <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"
          *ngFor="let otherCompany of otherCompanies"> {{ otherCompany.toUpperCase() }} </p>
      </div>
    </div>

    <div class="mt-4">
      <p class="text-exo fw-bold">Itinerários</p>
      <div *ngIf="data.bAgencyBoard.routes?.length">
        <div *ngFor="let company of data.briefing.companies?.companies" class="pb-4">
          <p class="mb-0 text-exo fw-bold mt-4"> {{ company.name }} </p>
          <div *ngFor="let route of data.bAgencyBoard.routes" class="my-1">
            <div *ngIf="route.company.id == company.id && route.type == 'main'" class="d-flex flex-column gap-1">
              <p class="text-exo mt-3 mb-0 d-flex align-items-center">Principais</p>
              <div class="d-flex gap-3">
                <div *ngFor="let city of route.cities">
                  <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;">
                    {{ city.name }} </p>
                </div>
              </div>
            </div>
            <div *ngIf="route.company.id == company.id && route.type == 'connection'" class="d-flex flex-column gap-1">
              <p class="text-exo mt-3 mb-0 d-flex align-items-center">Conexões</p>
              <div class="d-flex gap-3">
                <div *ngFor="let city of route.cities">
                  <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;">
                    {{ city.name }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="data.bAgencyBoard.otherRoutes?.length">
        <div *ngFor="let company of otherCompanies" class="pb-4 border-bottom">
          <p class="text-exo fw-bold mt-4"> {{ company }} </p>
          <div *ngFor="let route of data.bAgencyBoard.otherRoutes" class="my-1">
            <div *ngIf="route.company == company && route.type == 'main'" class="d-flex flex-column gap-1">
              <p class="text-exo mb-0 d-flex align-items-center">Principais</p>
              <div class="d-flex gap-3">
                <div *ngFor="let city of getCities(route)">
                  <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;">
                    {{ city }} </p>
                </div>
              </div>
            </div>
            <div *ngIf="route.company == company && route.type == 'connection'" class="d-flex flex-column gap-1">
              <p class="text-exo mb-0 d-flex align-items-center">Conexões</p>
              <div class="d-flex gap-3">
                <div *ngFor="let city of getCities(route)">
                  <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;">
                    {{ city }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p class="text-exo fw-bold">Observações</p>
      <p class="small-text text-exo mb-0 px-4 py-3 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
        data.bAgencyBoard.observations }}</p>
    </div>
  </div>
</div>
