<div id="bdSidebar" class="d-flex flex-column
            flex-shrink-0
            py-3 bg-sidebar
            text-white offcanvas-md offcanvas-start" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }">
  <div class="d-flex justify-content-center align-items-center bg-color-system">
    <div class="text-white">
      <div class="justify-content-center align-items-center d-flex">
        <img src="/assets/images/grupo-brasileiro-logo.png" height="130" width="130" alt="logo grupo brasileiro">
      </div>
    </div>
  </div>
  <hr>
  <ul class="mynav nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-1">
      <a href="#">
        <i class="fa-regular fa-user"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="#">
        <i class="fa-regular fa-bookmark"></i>
        Demandas
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="#">
        <i class="fa-regular fa-newspaper"></i>
        Nova Solicitação
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="#">
        <i class="fa-solid fa-archway"></i>
        Acompanhamento
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="#">
        <i class="fa-solid fa-graduation-cap"></i>
        Colaboradores
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="#">
        <i class="fa-solid fa-graduation-cap"></i>
        Agenda
      </a>
    </li>
  </ul>
  <hr>
  <div class="d-flex logout-menu">
    <ul class="mynav nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-1">
        <a href="#">
          <i class="fa-regular fa-user"></i>
          Perfil
        </a>
      </li>
      <li class="nav-item mb-1">
        <a href="#">
          <i class="fa-regular fa-user"></i>
          Sair
        </a>
      </li>
    </ul>
  </div>
</div>
