.card-profile {
  padding: 5px 0;
}

.btn-edit {
  cursor: pointer;
  background: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-edit:hover {
  background-color: #d4d4d4;
}

h4,
p,
span {
  margin: 0;
}

p {
  color: #909090;
}

span {
  color: #202020;
  letter-spacing: 0.5px;
}

.info-card h4 {
  font-size: 14px;
  font-weight: 600;
}

.info-card p,
.info-card span {
  font-size: 11px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.info-data {
  margin: 5px 0;
}

.overflow-custom {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #027373;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03A696;
}