<div class="mt-4 overflow-custom scroll-bar">
	<div class="container">
		<div class="row mb-3">
			<div class="col-md-8 d-flex align-items-center">
				<div class="card-profile d-flex align-items-center">
					<img src="/assets/images/profile.png" alt="Profile Image" class="img-fluid me-3"
						style="height: 70px;">
					<div class="info-card">
						<h4>{{ userProfile?.name + " " + userProfile?.lastname }}</h4>
						<span>{{ userProfile?.occupation }}</span>
						<p>{{ userRole }}</p>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-end align-items-center col-md-4 ">
				<button class="d-flex btn-edit gap-2 rounded p-2" (click)="editProfile()">
					<span class="text-muted">Editar Perfil</span>
					<div class="img rounded-circle bg-success d-flex align-items-center justify-content-center"
						style="height: 20px; width: 20px;">
						<img src="/assets/icons/edit.png" alt="Icon Edit" class="img-fluid" style="height: 12px;">
					</div>
				</button>
			</div>
		</div>
		<div class="mt-5">
			<h3>Informações Pessoais</h3>
			<hr>
			<div class="row">
				<div class="info-data col-md-4">
					<p>Nome Completo</p>
					<span>{{ userProfile?.name + " " + userProfile?.lastname }}</span>
				</div>
				<div class="info-data col-md-4">
					<p>Telefone</p>
					<span>{{ userProfile?.phoneNumber }}</span>
				</div>
				<div class="info-data col-md-4">
					<p>E-mail</p>
					<span>{{ userProfile?.user?.email }}</span>
				</div>
			</div>
		</div>
		<div class="mt-5">
			<h3>Informações Profissionais</h3>
			<hr>
			<div class="row">
				<div class="info-data col-md-4">
					<p>Função</p>
					<span>{{ userProfile?.occupation }}</span>
				</div>
				<div class="info-data col-md-4">
					<p>Setor/Departamento</p>
					<span>{{ userProfile?.sector }}</span>
				</div>
				<div class="info-data col-md-4">
					<p>Núcleo Operacional de Origem/Agência</p>
					<span>{{ userProfile?.agency }}</span>
				</div>
			</div>
		</div>
		<div class="mt-5">
			<h3>Segurança</h3>
			<hr>
			<div class="row">
				<div class="d-flex align-items-center  gap-2">
					<button class="btn-edit rounded p-2" [colorClass]="'#027373'" (click)="editPassword()">Alterar
						Senha</button>
					<p class="text-muted">(Manter sua senha atualizada regularmente é uma prática importante para
						garantir a
						segurança de sua conta)</p>
				</div>
			</div>
		</div>
		<div class="mt-5">
			<h3 [colorClass]="'red'">Deletar Conta</h3>
			<hr>
			<div class="row">
				<div class="d-flex align-items-center gap-2">
					<button class="btn-edit rounded p-2" [colorClass]="'red'" (click)="deleteAccount()">Deletar
						Conta</button>
					<p [colorClass]="'red'">(Essa ação é irreversível, pense bem antes de realizá-la)</p>
				</div>
			</div>
		</div>
	</div>
</div>