.card-profile {
  padding: 5px 0;
}

.img-profile {
  width: 5rem;
}

.btn-edit {
  cursor: pointer;
  background: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
  background-color: #e9e9e9;
}

.delete-account{
  color: red;
}

.delete-account:hover {
  background-color: #ff5555;
  color: black;
}

.password-edit:hover {
  background-color: #00c0c0;
}

h4,
p,
span {
  margin: 0;
}

p {
  color: #909090;
}

span {
  color: #202020;
  letter-spacing: 0.5px;
}

.info-card h4 {
  font-size: 14px;
  font-weight: 600;
}

.info-card p,
.info-card span {
  font-size: 11px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.info-data {
  margin: 5px 0;
}

.overflow-custom {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #027373;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03A696;
}

