<div class="container-fluid custom-container mt-3 overflow-custom scroll-bar">
    <div class="row">
        <div *ngFor="let collaborator of collaborators" class="col-12 col-md-4 mb-3">
            <div class="card card-custom rounded-4 py-2"
                [ngClass]="{'card-selected': isSelected(collaborator)}" 
                (click)="selectCollaborator(collaborator)">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <img class="rounded-circle profile-img"  src="/assets/images/profile.png" alt="profile image">
                    </div>
                    <p class="card-text fw-semibold mb-1">{{ collaborator.name }}</p>
                    <p class="card-text text-muted mb-3">{{ collaborator.user.email }}</p>
                    
                    <div *ngIf="collaborator === selectedCollaborator" class="pt-3 border-top mt-2">
                        <p class="card-text mb-1"><strong>Telefone:</strong> {{ collaborator.phoneNumber }}</p>
                        <p class="card-text mb-1"><strong>Função:</strong> {{ collaborator.occupation }}</p>
                        <p class="card-text mb-1"><strong>Setor:</strong> {{ collaborator.sector }}</p>
                        <p class="card-text"><strong>Agência:</strong> {{ collaborator.agency }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <mat-paginator [length]="totalElements"
                           [pageSize]="itemsPerPage"
                           [pageSizeOptions]="[6, 12, 24]"
                           (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>
