<div class="container">
  <div class="profile-data">
    <div class="card-profile">
      <img src="/assets/images/profile.png" alt="Profile Image">
      <div class="info-card">
        <h4>Mikaelle Rubia</h4>
        <span>Time de Desenvolvimento</span>
        <p>Ilhéus, Bahia</p>
      </div>
    </div>
    <div class="btn-edit">
      <span>Editar Perfil</span>
      <div class="img" (click)="editProfile()">
        <img src="/assets/icons/edit.png" alt="Icon Edit">
      </div>
    </div>
  </div>
  <hr>
  <div class="user-data">
    <h3>Informações Pessoais</h3>
    <div class="user-data-content">
      <div class="info-data">
        <p>Nome Completo</p>
        <span>Mikaelle Rubia</span>
      </div>
      <div class="info-data">
        <p>Telefone</p>
        <span>(73) 98765-4321</span>
      </div>
      <div class="info-data">
        <p>E-mail</p>
        <span>mikaelle&#64;email.com</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="professional-data">
    <h3>Informações Profissionais</h3>
    <div class="professional-data-content">
      <div class="info-data">
        <p>Função</p>
        <span>Colaborador</span>
      </div>
      <div class="info-data">
        <p>Setor/Departamento</p>
        <span>Marketing</span>
      </div>
      <div class="info-data">
        <p>Núcleo Operacional de Origem/Agência</p>
        <span>Rota Transportes</span>
      </div>
    </div>
  </div>
</div>
