.main-container {
  margin: 0;
  background-color: #f1f1f1;
  width: 80vw;
  height: 85vh;
  overflow-y: auto;
}

.btn-system {
  background-color: #027373;
}

.profile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-menu a {
  transition: background-color 0.3s, color 0.3s;
}

.profile-menu a:hover {
  background-color: #027373;
  color: #f1f1f1;
}

.profile-menu a:last-child:hover {
  background-color: #ffffff;
  border: 1px solid;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.content {
  padding: 0 10px;
}

.card {
  height: 100%;
}

@media (max-width: 767px) {
  .main-container{
    flex-direction: column;
  }
}
