.bg-color-system {
    background-color: #027373;
}

.system-form {
    background: linear-gradient(180deg, #01403A, #03A696, #01403A);
}

.form-focus:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.bg-hover:hover {
    background-color: #03A696;
}

.text-custom {
    color: #027373 !important;
    font-weight: 500;
}

.text-custom:hover {
    text-decoration: underline !important;
}