.bg-color-system {
    background: #027373;
}

.system-form {
    background: linear-gradient(180deg, #01403A, #03A696, #01403A);
}

.container-fluid img {
    width: 100%;
    height: auto;
}

.card {
    height: 60vh;
    width: 100%;
    max-width: 50vh;
}

.form-focus:focus {
    border: none;
    outline: none;
}

.bg-hover:hover {
    background-color: #03A696;
}

.remove-border-radius {
    border-radius: 0px;
}

.shadow-custom {
    box-shadow: 3px 4.5px 4px rgba(0, 0, 0, 0.3);
}

.text-custom {
    color: #027373 !important;
    font-weight: 500;
}

.text-custom:hover {
    text-decoration: underline !important;
}

@media (max-width: 768px) {
    .card {
        height: auto;
        width: 90%;
        max-width: none;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .card {
        height: auto;
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}
