<section class="system-form">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                <div class="card d-flex justify-content-center align-items-center rounded-4">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="py-5">
                            <img class="img-fluid" src="/assets/images/logo-grupobrasileiro.png"
                                alt="logo grupo brasileiro">
                        </div>
                        <div class="px-3">
                            <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
                                <div class="form-outline mb-4">
                                    <input type="email" class="form-focus border-0 border-bottom border-2 w-100"
                                        placeholder="E-mail" formControlName="email" required />
                                    <div *ngIf="email.invalid && formDir.submitted" class="validation-warning">
                                        <p *ngIf="email.errors?.['required']">Digite seu e-mail!</p>
                                        <p *ngIf="email.errors?.['email']">Formato de e-mail inválido!</p>
                                    </div>
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" class="form-focus border-0 border-bottom border-2 w-100"
                                        placeholder="Senha" formControlName="password" required />
                                    <div *ngIf="password.invalid && formDir.submitted" class="validation-warning">
                                        <p>Digite sua senha!</p>
                                    </div>
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1">
                                    <div>
                                        <button
                                            class="btn btn-block bg-color-system bg-hover text-white shadow rounded-3 mb-3 py-1 w-100"
                                            type="submit">Entrar</button>
                                    </div>
                                    <div class="container d-inline-flex justify-content-center gap-5">
                                        <div>
                                            <a class="text-muted text-decoration-none text-custom" routerLink="/recuperar-senha">Esqueci minha senha</a>
                                        </div>
                                        <div>
                                            <a class="text-muted text-decoration-none text-custom" routerLink="/cadastro">Cadastre-se</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>