.container-fluid {
  margin: 0;
  padding: 0;
  display: flex;
}

.content {
  position: fixed;
  top: 9vh;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.with-sidebar {
  left: 230px;
  padding: 3px;
  transition: left 0.3s ease, padding-left 0.3s ease;
}

.without-sidebar {
  left: 25px;
  padding: 3px;
  transition: left 0.3s ease, padding-left 0.3s ease;
}

@media (min-width: 768px) {
  .content {
    justify-content: center;
  }
}