.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: #297373;
  --bs-btn-border-color: #297373;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #029982;
  --bs-btn-hover-border-color: #029982;
  --bs-btn-focus-shadow-rgb: #297373;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #026d56;
  --bs-btn-active-border-color: #026d56;
}



.btn-outline-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #297373;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #297373;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #029982;
  --bs-btn-hover-border-color: #029982;
  --bs-btn-focus-shadow-rgb: #297373;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #026d56;
  --bs-btn-active-border-color: #026d56;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
