<section class="system-form">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                <div class="card d-flex justify-content-center align-items-center rounded-4">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="py-3">
                            <img class="img-fluid" src="/assets/images/logo-grupobrasileiro.png"
                                alt="logo grupo brasileiro">
                        </div>
                        <div class="p-2">
                            <p class="text-custom">Informe seu email para receber um link de redefinição de senha!</p>
                        </div>
                        <div class="p-2">
                            <form (submit)="submit()" [formGroup]="recoveryForm" #formDir="ngForm">
                                <div class="form-outline mb-4">
                                    <input type="email" class="form-focus border-0 border-bottom border-2 w-100"
                                        placeholder="E-mail" formControlName="email" required />
                                    <div *ngIf="email.invalid && formDir.submitted" class="validation-warning">
                                        <p *ngIf="email.errors?.['required']">Informe um e-mail!</p>
                                        <p *ngIf="email.errors?.['email']">Formato de e-mail inválido!</p>
                                    </div>
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <div>
                                        <button
                                            class="btn btn-block fa-lg bg-color-system bg-hover text-white shadow-sm rounded-4 mb-3 py-2 w-100"
                                            type="submit" [disabled]="loading || recoveryForm.invalid">
                                            <span *ngIf="!loading">Enviar</span>
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            <span *ngIf="loading"> Enviando... </span>
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>