.system-form {
    background: linear-gradient(180deg, #01403A, #03A696, #01403A);
    padding: 1rem;
}

.shadow-custom {
    box-shadow: 3px 4.5px 4px rgba(0, 0, 0, 0.3);
}

.bg-hover:hover {
    background-color: #03A696;
}

.form-focus:focus {
    box-shadow: none;
    border-color: #03A696;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .card {
        height: auto;
        width: 100%;
    }
}
