<section class="system-form">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                <div class="card d-flex justify-content-center align-items-center rounded-4">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="py-5">
                            <img class="img-fluid" src="/assets/images/logo-grupobrasileiro.png"
                                alt="logo grupo brasileiro">
                        </div>
                        <div>
                            <form (submit)="submit()" [formGroup]="resetForm" #formDir="ngForm">
                                <div class="form-outline mb-4">
                                    <input type="password" class="form-focus border-0 border-bottom border-2 w-100"
                                        placeholder="Nova Senha" formControlName="password" required="" />
                                    <div *ngIf="password.invalid && formDir.submitted" class="validation-warning">
                                        <p *ngIf="password.errors?.['required']">A senha é obrigatória.</p>
                                        <p *ngIf="password.errors?.['pattern']">Sua senha deve ter pelo menos 8
                                            caracteres, incluindo uma
                                            letra maiúscula, uma letra minúscula, um número e um caractere
                                            especial.</p>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" class="form-focus border-0 border-bottom border-2 w-100"
                                        placeholder="Digite Novamente" formControlName="confirmPassword" required="" />
                                    <div *ngIf="confirmPassword.invalid && formDir.submitted"
                                        class="validation-warning">
                                        <p *ngIf="confirmPassword.errors?.['required']">A confirmação de senha é
                                            obrigatória.</p>
                                        <p *ngIf="confirmPassword.errors?.['confirmPasswordValidator']">As senhas não
                                            conferem!</p>
                                    </div>
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <div>
                                        <button
                                            class="btn btn-block fa-lg bg-color-system bg-hover text-white shadow-sm rounded-4 mb-3 py-2 w-100"
                                            type="submit">Alterar Senha</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>