<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card text-black shadow-custom">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-lg-7 card-scroll scroll-bar">
              <app-signpost></app-signpost>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center">
              <app-dialog-box></app-dialog-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
