<div *ngIf="data.type" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card text-black shadow-custom">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-lg-7 card-scroll scroll-bar">
              <app-agency-board *ngIf="isBriefingType(E_Briefing_Type.ITINERARIOS)" [briefing]="data"></app-agency-board>
              <app-signpost *ngIf="isBriefingType(E_Briefing_Type.SINALIZACAO_INTERNA)" [briefing]="data"></app-signpost>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center">
              <app-dialog-box [project]="data.type.project"></app-dialog-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
