


.shadow-custom {
    box-shadow: 3px 4.5px 4px rgba(0, 0, 0, 0.3);
}

.bg-system {
  background: var(--primary-color);
}

.card {
    width: 30vw;
    height: 80vh !important;
}

.card-scroll {
    height: 70vh;
    overflow-y: auto;
}

.scroll-bar::-webkit-scrollbar {
    width: 12px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #03A696;
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: #026d56;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #029982;
}

/* Firefox */
.scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #03A696 #f1f1f1;
}

.small-text {
  font-size: 9px;
}

.your-message {
  justify-content: end;
}

.your-message p {
  background: var(--primary-color);
  color: white;
}

.your-message img {
  order: 1;
}

.your-message div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.your-message span {
  font-size: 0.9rem;
}

.their-message {
  justify-content: start;
}

.their-message .bg-their {
  background: #DFDFDF;
  color: black;
}

.their-message span {
  font-size: 0.9rem;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #029982;
  --bs-btn-hover-border-color: #029982;
  --bs-btn-focus-shadow-rgb: var(--primary-color);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #026d56;
  --bs-btn-active-border-color: #026d56;
}

.text-conversation {
  font-size: 13px;
}


.bg-modal {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 1040;
}
