<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-custom">
        <div class="bg-modal modal rounded" *ngIf="isModalOpen">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content bg-white p-3 rounded-4">

              <div class="modal-header">
                <p class="modal-title mb-0">Selecione um novo colaborador</p>
              </div>
              <div class="modal-body d-flex flex-column gap-2">
                <div *ngFor="let c of allCollaborators">
                  <div *ngIf="c.id != project?.collaborator?.id">
                    <input type="radio" class="btn-check" name="options-outlined" id="{{ c.id }}"
                      autocomplete="off" [(ngModel)]="selectedCollaborator" [value]="c">
                    <label class="btn btn-outline-success d-flex gap-2 align-items-center" for="{{ c.id }}">
                      <img src="/assets/images/profile.png" alt="profile image">
                      <p class="mb-0">{{ c.name }}</p>
                    </label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" (click)="closeModal()">Fechar</button>
                <button type="button" class="btn btn-bd-primary btn-sm" (click)="selectCollaborator()">Alterar</button>
              </div>

            </div>
          </div>
        </div>

        <ng-template #no_collaborator>
          <div
            class="card-header text-white p-3 d-flex align-items-center justify-content-between bg-system">
            <div class="d-flex gap-3 align-items-center">
              <img src="/assets/images/do-utilizador.png" alt="Profile Picture" width="40px" height="40px">
              <div>
                <p class="small-text mb-0">Colaborador Atual</p>
                <p class="mb-0">Nenhum colaborador associado!</p>
              </div>
            </div>

            <div *ngIf="getSessionProfile() == idSupervisor" class="d-flex gap-3">
              <button class="btn btn-bd-primary btn-sm border" (click)="openModal()" style="height: 40px">Atribuir
                Colaborador</button>
            </div>
          </div>
        </ng-template>

        <div *ngIf="project?.collaborator; else no_collaborator">
          <div class="card-header text-white p-3 d-flex align-items-center justify-content-between bg-system">
            <div class="d-flex gap-3 align-items-center">
              <img src="/assets/images/profile.png" alt="Profile Picture" width="40px" height="40px">
              <div>
                <p class="small-text mb-0">Colaborador Atual</p>
                <p class="mb-0"> {{ project?.collaborator?.fullName }} </p>
              </div>
            </div>

            <div *ngIf="getSessionProfile() == idSupervisor" class="d-flex gap-3">
              <button class="btn btn-bd-primary btn-sm border" (click)="openModal()" style="height: 40px">Alterar
                Colaborador</button>
            </div>

          </div>
        </div>

        <div class="card-body p-4 card-scroll scroll-bar" #scrollableContent>
          <div class="row">
            <div *ngFor="let data of response">
              <div *ngIf="getSessionId() == data.employee.id; else their_message">
                <div class="d-flex gap-3 my-1 your-message" #your_message>
                  <img src="/assets/images/profile.png" alt="Profile Avatar" height="40px">
                  <div>
                    <p class="text-conversation px-3 py-2 mb-1 rounded-4"> {{ data.dialog }} </p>
                    <span class="fst-italic" style="font-size: 12px;"> {{ data.time | date: "dd/MM/yy HH:mm" }} </span>
                  </div>
                </div>
              </div>
              <ng-template #their_message>
                <div class="d-flex gap-3 my-1 their-message">
                  <img src="/assets/images/profile.png" alt="Profile Avatar" height="40px">
                  <div>
                    <div class="bg-their p-2 mb-1 rounded-4">
                      <p class="text-conversation mb-0 fw-bold fst-italic" style="color: #026d56;"> {{
                        data.employee.fullName }} </p>
                      <p class="text-conversation px-3 mb-0"> {{ data.dialog }} </p>
                    </div>
                    <span class="fst-italic" style="font-size: 12px;"> {{ data.time | date: "dd/MM/yy HH:mm" }} </span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-footer p-3">
          <div class="input-group gap-2">
            <input type="text" class="form-control p-2 rounded text-conversation" placeholder="Digite sua mensagem..."
              aria-describedby="button-addon2" [(ngModel)]="messageText">
            <button class="btn btn-bd-primary px-3 rounded" type="button" id="button-addon2"
              (click)="newMessage()">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
