<section class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="row g-0 swap-columns">
      <div class="card-body p-md-3 mx-md-4">
        <div class="text-center my-5">
          <img [src]="'/assets/images/avatars/' + (selectedAvatar || 'default') + '.png'" alt="Profile Image"
            class="img-fluid img-profile rounded p-2 mb-3" (click)="openAvatarModal()">
        </div>
        <form (ngSubmit)="submit()" [formGroup]="editForm" #formDir="ngForm">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <input type="text" class="form-focus border-0 border-bottom border-2 w-100" placeholder="Nome"
                  formControlName="name" required />
                <div *ngIf="name.invalid && formDir.submitted" class="validation-warning">
                  <p>O nome é obrigatório!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <input type="text" class="form-focus border-0 border-bottom border-2 w-100" placeholder="Sobrenome"
                  formControlName="lastname" required />
                <div *ngIf="lastname.invalid && formDir.submitted" class="validation-warning">
                  <p>O sobrenome é obrigatório!</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input type="email" class="form-focus border-0 border-bottom border-2 w-100" placeholder="E-mail"
              formControlName="email" required readonly />
          </div>

          <div class="form-outline mb-4">
            <input type="text" class="form-focus border-0 border-bottom border-2 w-100" placeholder="Telefone"
              formControlName="phone" required appPhoneMask />
            <div *ngIf="phone.invalid && formDir.submitted" class="validation-warning">
              <p *ngIf="phone.errors?.['required']">O telefone é obrigatório!</p>
              <p *ngIf="phone.errors?.['pattern']">Por favor, insira um número de telefone válido no formato
                (XX)
                XXXXX-XXXX ou (XX) XXXX-XXXX.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <input type="text" class="form-focus border-0 border-bottom border-2 w-100"
                  placeholder="Setor/Departamento" formControlName="sector" required />
                <div *ngIf="sector.invalid && formDir.submitted" class="validation-warning">
                  <p>O setor é obrigatório!</p>
                </div>
              </div>

            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <input type="text" class="form-focus border-0 border-bottom border-2 w-100" placeholder="Função"
                  formControlName="occupation" required />
                <div *ngIf="occupation.invalid && formDir.submitted" class="validation-warning">
                  <p>A função é obrigatória!</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input type="text" class="form-focus border-0 border-bottom border-2 w-100"
              placeholder="Núcleo Operacional de Origem/Agência" formControlName="nop" required />
            <div *ngIf="nop.invalid && formDir.submitted" class="validation-warning">
              <p>O NOP/Agência é obrigatório!</p>
            </div>
          </div>

          <div class="text-end">
            <button class="btn me-md-2 btn-outline-danger" type="button" (click)="cancel()">Cancelar</button>
            <button class="btn btn-success" type="submit">Salvar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isAvatarModalOpen" class="avatar-modal">
  <div class="avatar-modal-content">
    <h4>Escolha um avatar</h4>
    <div class="avatar-options row g-1">
      <div *ngFor="let avatar of avatars; let i = index" class="col-6 col-sm-4 col-md-3">
        <div class="avatar-option" [ngClass]="{'selected': selectedAvatar === i + 1}" (click)="selectAvatar(i)">
          <img [src]="'/assets/images/avatars/' + (i + 1) + '.png'" alt="Avatar {{i + 1}}" class="img-fluid avatar-img" />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center gap-3 my-4">
      <button class="btn btn-secondary" (click)="cancelAvatarModal()">Cancelar</button>
      <button class="btn btn-success" (click)="saveAvatar()">Salvar</button>
    </div>
  </div>
</div>