.bg-color-system {
    background-color: #027373;
}

.bg-color-menu{
    background-color: #03A696;
}

.text-muted {
    color: #808080 !important;
    text-decoration: none !important;
}

.form-focus:focus {
    border: none;
    outline: none;
}

.card{
    height: 80vh;
    width: 75vw;
}

.overflow-custom{
    height: 75vh; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.bg-hover:hover {
    background-color: #03A696;
}

.shadow-custom {
    box-shadow: 3px 4.5px 4px rgba(0, 0, 0, 0.3);
}

.text-custom {
    color: #027373 !important;
    font-weight: 600;
}

.text-custom:hover {
    text-decoration: underline !important;
}

@media (min-width: 768px) {
    .system-form {
        height: 100vh !important;
    }
}


::-webkit-scrollbar {
    height: 6px; 
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #027373;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #03A696;
}

@media (max-width: 991px) {
    .card{
        height: 50em;
    }
}