<div *ngIf="data">

  <div class="container mt-2">
    <div class="d-flex align-items-center justify-content-between pb-4 border-bottom">
      <div>
        <p class="h5 text-center mb-1 fw-bold text-exo"> {{ data.briefing.briefingType.description }} </p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <p class="fw-bold mb-1 text-exo">Data Prevista de Entrega</p>
        <span class="text-exo mb-0 px-3 py-2 fst-italic bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
          data.briefing.expectedTime | date : 'dd/MM/yyyy'}} </span>
      </div>
    </div>

    <div class="pe-5 mt-4 border-bottom">
      <app-version [versions]="data.briefing.versions" [idBriefing]="data.briefing.id"></app-version>
    </div>

    <p class="text-exo fw-bold mt-3">Informações da Placa</p>
    <div class="mt-4">
      <p class="text-exo fw-bold">Local da Placa</p>
      <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
        data.signpost.boardLocation }} </p>
    </div>
    <div class="mt-4">
      <p class="text-exo fw-bold">Descrição Detalhada</p>
      <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
        data.briefing.detailedDescription }}</p>
    </div>
    <div class="d-flex align-items-center gap-5 mt-4">
      <div>
        <p class="text-exo fw-bold">Medidas</p>
        <div class="d-flex">
          <div>
            <p class="small-text text-exo mb-0 fst-italic">Largura</p>
            <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
              data.briefing.measurements?.length }} cm</p>
          </div>
          <div class="d-flex align-items-end mx-3">
            <p class="small-text text-exo fw-bold">X</p>
          </div>
          <div>
            <div>
              <p class="small-text text-exo mb-0 fst-italic">Altura</p>
              <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
                data.briefing.measurements?.height }} cm</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column gap-2">
        <p class="text-exo fw-bold">Material</p>
        <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
          data.signpost.material.description }}</p>
      </div>
    </div>

    <div class="mt-4">
      <p class="text-exo fw-bold">Empresas</p>
      <div class="d-flex gap-3" *ngIf="data.briefing.companies?.companies?.length">
        <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"
          *ngFor="let company of data.briefing.companies?.companies"> {{ company.name }} </p>
        <p class="small-text text-exo mb-0 px-3 py-2 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"
          *ngFor="let otherCompany of otherCompanies"> {{ otherCompany.toUpperCase() }} </p>
      </div>
    </div>

    <div class="mt-4">
      <p class="text-exo fw-bold">Setor</p>
      <p class="small-text text-exo mb-0 px-4 py-3 bg-secondary rounded-3" style="--bs-bg-opacity: .2;"> {{
        data.signpost.sector }}</p>
    </div>
  </div>

</div>
