<section class="h-100 system-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">
                <div class="card text-black remove-border-radius">
                    <div class="row g-0 shadow-custom">
                        <div class="col-lg-5 d-flex align-items-center bg-color-system">
                            <div class="text-white">
                                <div class="justify-content-center align-items-center d-flex">
                                    <img src="/assets/rota-logo.png" width="80" height="80" alt="logo grupo brasileiro">
                                    <h3>Rota Transportes</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="card-body p-md-3 mx-md-3 my-4">

                                <div class="text-center">
                                    <h2 class="mt-2 mb-4">Redefinir Senha</h2>
                                </div>

                                <form>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example22" class="form-focus border-0 border-bottom border-2 w-100" placeholder="Nova Senha" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example22" class="form-focus border-0 border-bottom border-2 w-100" placeholder="Digite Novamente" />
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <div>
                                            <button
                                            class="btn btn-block fa-lg bg-color-system bg-hover text-white shadow-sm rounded-4 mb-3 py-2 w-100"
                                            type="button">Alterar Senha</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>